---
import Social from "./Social.astro"
---

<footer>
    <p>Mas informacion sobre mis proyectos en:</p>
        <Social platform="twitter" username="andres_fe16"/>
        <Social platform="github" username="AndresFelipeEstrada"/>
        <Social platform="instagram" username="andrescross16"/>
</footer>

<style>
    footer {
        gap: 1rem;
        text-align: center;
        margin-top: 2rem;
    }

    footer > p{
      color: white;
    }
</style>
