---
import "../styles/global.css"
---

<div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>


<style>
  :global(.dark) .line{ color: red; }
</style>
