---
import '../styles/global.css';
---

<nav class="nav-links" transition:animate="slide">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
  <a href="/tags">Tags</a>
</nav>

<style>
  a {
    text-decoration: none;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
  }
  p {
    text-align: center;
    color: white;
  }
  :global(.dark) a {
    color: black;
  }

  nav a.active {
    background-color: #4c1d95;
  }
</style>

<script>
  const highlightActiveLink = () => {
    const nav = document.querySelector('.nav-links');
    const navLinks = nav.querySelectorAll('a');
    const currentLink = window.location.href;

    navLinks.forEach((link) => {
      if (link.href === currentLink) {
        link.classList.add('active');
      } else {
        link.classList.remove('active');
      }
    });
  };

  document.addEventListener('astro:page-load', highlightActiveLink);
</script>
